@using Microsoft.AspNetCore.Identity
@using WebApplication7.Areas.Identity.Data
@inject SignInManager<ThesisDbUser> SignInManager
@inject UserManager<ThesisDbUser> UserManager
@{
    ViewData["Title"] = "FAQ";
}
<h2>@ViewData["Title"]</h2>
<h3></h3>

<p>Hier finden Sie häufig gestellte Fragen und Antworten zur Thesis-Datenbank.</p>
<hr />

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title btn">
                    <a data-toggle="collapse" data-target="#Frage0">Kann man als Student Zugangsdaten erhalten?</a>
                </div>
            </div>
            <div class="panel-collapse collapse" id="Frage0">
                <div class="panel-body">
                    <p>
                        Als Student steht Ihnen nur der Zugriff auf die eingeschränkte Funktionalität zur Verfügung.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title btn">
                    <a data-toggle="collapse" data-target="#Frage1">Wer ist dazu berechtigt, Zugangsdaten zu erhalten?</a>
                </div>
            </div>
            <div class="panel-collapse collapse" id="Frage1">
                <div class="panel-body">
                    <p>
                        Zugangsberechtigt sind Betreuer und Dozenten des Lehrstuhls. In einzelnen Fällen kann auf Anfrage an den Admin auch weiteren hier nicht aufgeführten Personen Zugang gewährt werden.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title btn">
                    <a data-toggle="collapse" data-target="#Frage2">Woher erhalte ich als Zugangsberechtigter die Zugangsdaten?</a>
                </div>
            </div>
            <div class="panel-collapse collapse" id="Frage2">
                <div class="panel-body">
                    <p>Die Zugangsdaten erhalten Sie auf Anfrage beim <a href="mailto:samil-gencaslan@outlook.de">Admin. </a></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title btn">
                    <a data-toggle="collapse" data-target="#Frage3">Wie kann man sich als Student für eine Abschlussarbeit eintragen?</a>
                </div>
            </div>
            <div class="panel-collapse collapse" id="Frage3">
                <div class="panel-body">
                    <p>Wenn Sie sich für eine Abschlussarbeit anmelden wollen, schreiben Sie bitte eine E-Mail an den entsprechenden Betreuer.</p>
                </div>
            </div>
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title btn">
                        <a data-toggle="collapse" data-target="#Frage4">Wieso kann ich keinen Betreuer oder Studiengang löschen?</a>
                    </div>
                </div>
                <div class="panel-collapse collapse" id="Frage4">
                    <div class="panel-body">
                        <p>Da die Betreuer und Studiengänge an die Thesen gebunden sind, wenden Sie sich bitte an den Admin um einen Betreuer aus dem System zu löschen.</p>
                    </div>
                </div>
            </div>

        }

        <p style="float: left">Sollten anderweitige Fehler auftreten, oder Sie weitere von uns nicht behandelte Fragen haben, so wenden Sie sich bitte an den <a href="mailto:samil-gencaslan@outlook.de">Admin (samil-gencaslan@outlook.de)</a>.</p>
    </div>

</div>



