@model WebApplication7.Models.Thesis

@{
    ViewData["Title"] = "Create";
}


<h2>Erstellen</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupervisorId" class="control-label"></label>
                <select asp-for="SupervisorId" class="form-control" asp-items="ViewBag.SupervisorId">
                </select>
            </div>
            <div class="form-group options">
                <div class="checkbox">
                    <b>Möglich für:</b></br>
                    <label>
                        <input asp-for="Bachelor" /> @Html.DisplayNameFor(model => model.Bachelor)
                    </label>
                    <label>
                        <input asp-for="Master" /> @Html.DisplayNameFor(model => model.Master)
                    </label>
                </div>
                <span id="Title-error">Es muss mindestens eine Box ausgewählt sein.</span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="@Html.GetEnumSelectList(typeof(Status))" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgrammeId" class="control-label"></label>
                <select asp-for="ProgrammeId" class="form-control" asp-items="ViewBag.ProgrammeId"></select>
            </div>
            

            <div class="form-group">
                <input type="submit" value="Speichern" class="btn btn-default" id="checkBtn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zurück zur Liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.common-bootstrap.core.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.bootstrap.min.css" />
    <link rel="stylesheet" href="styles/kendo.common.min.css" />
    <link rel="stylesheet" href="styles/kendo.default.min.css" />
    <link rel="stylesheet" href="styles/kendo.default.mobile.min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.1017/js/kendo.ui.core.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.1017/js/cultures/kendo.culture.de-DE.min.js"></script>


    <script>

        $(document).ready(function () {


                $('#checkBtn').click(function () {
                    checked = $("input[type=checkbox]:checked").length;

                    if (checked < 1) {
                        //alert("You must check at least one checkbox.");
                        return false;
                    }

                });



            $("#date").kendoDatePicker({
                culture: 'de-DE',
                value: new Date()
            });

            $("#date2").kendoDatePicker({
                culture: 'de-DE',
                value: new Date()
            });

            $("#categories").kendoDropDownList({
                optionLabel: "",
                dataSource: {
                    serverFiltering: false,
                    transport: {
                        read: "@Url.Action("getTypes")"
                    }
                }
            });

        




           


        });

    </script>

}


