@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h2 style="text-align:center; margin: auto; margin-top: 50px; width: 50%; padding: 10px;">@ViewData["Title"]</h2>
<h4 style="text-align:center; ">Dieser Login dient nur für den Admin des Systems</h4>

<div>
    <div style="text-align:center; margin: auto; margin-top: 50px; width: 50%; border: 1px blue; padding: 10px;">
        <section>
            <form method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">Passwort</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            Angemeldet bleiben
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Einloggen</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./ForgotPassword">Passwort vergessen?</a>
                    </p>
                    <p>
                        Falls Sie den Admin des Systems kontaktieren wollen, klicken sie <a href="mailto:samil-gencaslan@outlook.de">hier</a>.
                    </p>
                </div>
            </form>
        </section>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
